# 收集

In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# 载入twitter-archive-enhanced.csv数据到df中
df = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
# 从网站下载数据并载入到df1中
url = 'https://raw.githubusercontent.com/udacity/new-dand-advanced-china/master/%E6%95%B0%E6%8D%AE%E6%B8%85%E6%B4%97/WeRateDogs%E9%A1%B9%E7%9B%AE/image-predictions.tsv'
response = requests.get(url)
with open('image_predictions.tsv','wb') as file1:
    file1.write(response.content)
df1 = pd.read_csv('image_predictions.tsv',sep='\t')

In [4]:
# 从tweet_json.txt筛选出数据载入到df2
df2_list = []
with open('tweet_json.txt','r') as file2:
    for line in file2.readlines():
        row = json.loads(line)
        tweet_id = row['id_str']
        retweet_count = row['retweet_count']
        favorite_count = row['favorite_count']
        df2_list.append({'tweet_id': tweet_id,
                        'retweet_count': retweet_count,
                        'favorite_count': favorite_count})
df2 = pd.DataFrame(data = df2_list,columns = ['tweet_id','retweet_count','favorite_count'])

# 评估

### 整洁度
- df表格中doggo，floofer，pupper，puppo四列是对狗的不同分类，应是一个变量
- df1和df2表格中转发数和喜欢数应该是df表格的一部分

### 质量
- df表格中retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp列非空行需要删除（只需要含有图片的原始评级）
- df表格中存在无图片的推特需要删除
- df，df1表格中tweet_id列数据类型应该是字符串
- df表格中in_reply_to_status_id,in_reply_to_user_id列的数据类型应该是字符串
- df表格中timestamp列的数据类型应该是datetime
- df表格中name列部分值不正确
- df表格中rating_denominator列部分值不是10
- df表格中rating_numerator列部分为异常值
- df1表格中img_num数据类型应该是分类数据类型

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [6]:
df.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [7]:
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [9]:
df1.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [10]:
df1.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2352 entries, 0 to 2351
Data columns (total 3 columns):
tweet_id          2352 non-null object
retweet_count     2352 non-null int64
favorite_count    2352 non-null int64
dtypes: int64(2), object(1)
memory usage: 55.2+ KB

In [12]:
df2.describe()

       retweet_count  favorite_count
count    2352.000000     2352.000000
mean     3134.932398     8109.198980
std      5237.846296    11980.795669
min         0.000000        0.000000
25%       618.000000     1417.000000
50%      1456.500000     3596.500000
75%      3628.750000    10118.000000
max     79116.000000   132318.000000

In [13]:
df2.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8842           39492
1  892177421306343426           6480           33786
2  891815181378084864           4301           25445
3  891689557279858688           8925           42863
4  891327558926688256           9721           41016

# 清理

In [14]:
# 创建原始数据的副本
df_clean = df.copy()
df1_clean = df1.copy()
df2_clean = df2.copy()

- df表格中doggo，floofer，pupper，puppo四列是对狗的不同分类，应是一个变量

### 定义
使用str.findall()和.join()方法筛选出狗的stage列，用replace()将NaN值替换stage列中的空字符串，删除doggo，floofer，pupper，puppo四列
### 代码

In [15]:
df_clean['stage'] = df_clean['text'].str.lower().str.findall('(doggo|floofer|pupper|puppo)')
df_clean['stage'] = df_clean['stage'].apply(lambda x: ','.join(set(x)))
df_clean['stage'] = df_clean['stage'].replace('',np.nan)
df_clean.drop(columns=['doggo','floofer','pupper','puppo'],inplace=True)

### 测试

In [16]:
df_clean['stage'].value_counts()

pupper           271
doggo             92
puppo             36
doggo,pupper      12
floofer            9
doggo,puppo        2
doggo,floofer      1
Name: stage, dtype: int64

- df，df1表格中tweet_id列数据类型应该是字符串

### 定义
使用astype()方法将整型数据变更为字符串
### 代码

In [17]:
df_clean['tweet_id'] = df_clean['tweet_id'].astype(str)
df1_clean['tweet_id'] = df1_clean['tweet_id'].astype(str)

### 测试

In [18]:
df_clean['tweet_id'].dtypes

dtype('O')

In [19]:
df1_clean['tweet_id'].dtypes

dtype('O')

- df表格中retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp列非空行需要删除（只需要含有图片的原始评级）

### 定义
使用.drop()方法删除retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp列非空行，然后使用.drop()方法删除这三列
### 代码

In [20]:
# 查看retweeted_status_id和retweeted_status_user_id列非空行index是否相同
(df_clean[df_clean['retweeted_status_id'].isnull() == False].index == df_clean[df_clean['retweeted_status_user_id'].isnull() == False].index).mean()

1.0

In [21]:
# 查看retweeted_status_id和retweeted_status_timestamp列非空行index是否相同
(df_clean[df_clean['retweeted_status_id'].isnull() == False].index == df_clean[df_clean['retweeted_status_timestamp'].isnull() == False].index).mean()

1.0

In [22]:
# retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp列非空行是相同的
df_clean.drop(labels=df_clean[df_clean['retweeted_status_id'].isnull() == False].index,inplace=True)
df_clean.drop(columns=['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'],inplace=True)

### 测试

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 11 columns):
tweet_id                 2175 non-null object
in_reply_to_status_id    78 non-null float64
in_reply_to_user_id      78 non-null float64
timestamp                2175 non-null object
source                   2175 non-null object
text                     2175 non-null object
expanded_urls            2117 non-null object
rating_numerator         2175 non-null int64
rating_denominator       2175 non-null int64
name                     2175 non-null object
stage                    385 non-null object
dtypes: float64(2), int64(2), object(7)
memory usage: 203.9+ KB

- df1和df2表格中转发数和喜欢数应该是df表格的一部分
- df表格中存在无图片的推特需要删除

### 定义
使用.merge()方法合并三个数据集存入df_all中，df表格中存在无图片的推特同时也删除了
### 代码

In [24]:
df_clean = df_clean.merge(df2_clean,on='tweet_id')
df_all = df_clean.merge(df1_clean,on='tweet_id')

### 测试

In [25]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 1993
Data columns (total 24 columns):
tweet_id                 1994 non-null object
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                1994 non-null object
source                   1994 non-null object
text                     1994 non-null object
expanded_urls            1994 non-null object
rating_numerator         1994 non-null int64
rating_denominator       1994 non-null int64
name                     1994 non-null object
stage                    342 non-null object
retweet_count            1994 non-null int64
favorite_count           1994 non-null int64
jpg_url                  1994 non-null object
img_num                  1994 non-null int64
p1                       1994 non-null object
p1_conf                  1994 non-null float64
p1_dog                   1994 non-null bool
p2                       1994 non-null object
p2_conf                  1994 non-null float64
p2_dog                   1994 non-null bool
p3                       1994 non-null object
p3_conf                  1994 non-null float64
p3_dog                   1994 non-null bool
dtypes: bool(3), float64(5), int64(5), object(11)
memory usage: 348.6+ KB

- df表格中in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id列的数据类型应该为字符串
- df1表格中img_num数据类型应该是分类数据类型

### 定义
使用astype()方法在合并后的df_all数据中分别将整型和浮点型变更为字符串，使用astype()方法将整型数据变更为分类数据类型
### 代码

In [26]:
df_all['in_reply_to_status_id'] = df_all['in_reply_to_status_id'].astype(str)

In [27]:
df_all['in_reply_to_user_id'] = df_all['in_reply_to_user_id'].astype(str)

In [28]:
df_all['img_num'] = df_all['img_num'].astype('category')

### 测试

In [29]:
df_all['in_reply_to_status_id'].dtypes

dtype('O')

In [30]:
df_all['in_reply_to_user_id'].dtypes

dtype('O')

In [31]:
df_all['img_num'].dtypes

CategoricalDtype(categories=[1, 2, 3, 4], ordered=False)

- df表格中timestamp列的数据类型应该是日期

### 定义
使用to_datetime()方法将字符串变更为datetime64
### 代码

In [32]:
df_all['timestamp'] = pd.to_datetime(df_all['timestamp'],utc=True)

### 测试

In [33]:
df_all['timestamp'].dtypes

datetime64[ns, UTC]

- df表格中name列部分值不正确

### 定义
用str.extract()方法重新取得name值
### 代码

In [34]:
df_all['name'] = df_all['text'].str.extract('(?:This is|Meet|Say hello to|name is|named|name to) ([A-Z][^\., ]*)')

### 测试

In [35]:
df_all['name'].value_counts()

Charlie       11
Cooper        10
Lucy          10
Oliver        10
Tucker         9
Penny          9
Winston        8
Sadie          8
Toby           7
Daisy          7
Lola           7
Bella          6
Bo             6
Stanley        6
Koda           6
Jax            6
Rusty          5
Zoey           5
Scout          5
Leo            5
Milo           5
Buddy          5
Bailey         5
Chester        5
Louis          5
Oscar          5
Jerry          4
Scooter        4
Phil           4
Jack           4
              ..
Lipton         1
Chesterson     1
Kota           1
Keet           1
Pilot          1
Perry          1
Shawwn         1
Toffee         1
Snickers       1
Tessa          1
Duddles        1
Peanut         1
Baloo          1
Crimson        1
Blakely        1
Monty          1
Alf            1
Tommy          1
Eazy-E         1
Stu            1
Carter         1
Jomathan       1
Vixen          1
Ziva           1
Gustaf         1
Monkey         1
Stewie         1
Zooey          1
Tug            1
Dwight         1
Name: name, Length: 936, dtype: int64

- df表格中rating_denominator列部分值不是10
- df表格中rating_numerator列部分为异常值

### 定义
用str.extract()方法提出分母等于10的分子值作为狗的评分存入rating列，并删除rating_denominator列

使用.drop()方法删除rating_numerator列,由于评分值在rating列，删除rating列部分异常值
### 代码

In [36]:
df_all['rating'] = df_all['text'].str.extract('(\d+|\d+\.\d+)(?=/10)').astype(float)

In [37]:
df_all.drop(columns='rating_denominator',inplace=True)

In [38]:
df_all.drop(columns=['rating_numerator'],inplace=True)

In [39]:
# 删除评分大于20和等于0的异常值
df_all.drop(labels=df_all[(df_all['rating'] > 20)|(df_all['rating'] == 0)].index,inplace=True)

In [40]:
# 重置index
df_all.reset_index(drop=True,inplace=True)

### 测试

In [41]:
df_all['rating'].value_counts()

12.00    450
10.00    420
11.00    397
13.00    262
9.00     151
8.00      95
7.00      51
14.00     36
6.00      32
5.00      32
3.00      19
4.00      15
2.00       9
1.00       4
9.75       1
11.26      1
13.50      1
11.27      1
Name: rating, dtype: int64

In [42]:
df_all.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'expanded_urls', 'name', 'stage', 'retweet_count',
       'favorite_count', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'rating'],
      dtype='object')

# 存储数据

In [43]:
df_all.to_csv('twitter_archive_master.csv',index=False)